<head th:fragment="headerPage"  xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Console Admin</title>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- metis Menu-->
    <link rel="stylesheet" href="/static/metismenu/metisMenu.min.css">
    <link rel="stylesheet" href="/static/metismenu/mm-vertical.css">
    <link rel="stylesheet"  href="/static/metismenu/prism.css">
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>
