<div  th:fragment="sidebarPage"  xmlns:th="http://www.thymeleaf.org">
  <aside id="sidebar" class="sidebar-nav " style="font-size: 1.2em;">
    <nav class="sidebar-nav">
      <ul class="metismenu" id="menu">
        <li style="height: 2.2em;font-size: 1.3em;line-height: 2.2em;text-align: center">
          <span class="fa fa-fw fa-dashboard fa-lg"></span>Dashboard
        </li>
        <li>
          <a href="###" id="Item1_0"><span class="fa fa-fw fa-desktop fa-lg"></span>monitor</a>
        </li>
        <li class="">
          <a  href="###" class="has-arrow" id="Item2_0">
            <span class="fa fa-fw fa-bar-chart fa-lg"></span>
            analytics</a>
          <ul class="mm-collapse">
              <li><a href="####" id="Item2_1">Jobs</a></li>
              <li><a href="####" id="Item2_2">2222222</a></li>
              <li><a href="####" id="Item2_3">333333</a></li>
          </ul>
        </li>
        <li>
          <a href="###" id="Item3_0"><span class="fa fa-fw fa-database fa-lg"></span>database</a>
        </li>


      </ul>
    </nav>
  </aside>
</div>