<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<style>
    .chart_con {
        margin: 2em 1em 1em 1em;
        background: aliceblue;
        border-radius: 5px;
        padding-top: 1em;
    }
    .chart_title{
        font-size: 1.1em;
    }
    .form_chart_main {
        margin-top: 2em;
    }
</style>

<body >
<div >
    <div >
        <div th:replace="fragments/headerSide :: headerSide"></div>
    </div>
    <div class="col col-lg-2">
        <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
    </div>
    <div class="col col-lg-10">
        <div class="panel panel-default form_chart_main">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> chart</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" style="float:left;">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <div class="input-group-addon">task number</div>
                            <input type="text" class="form-control" id="num" placeholder="Input task number">
                        </div>
                    </div>
<!--                     glyphicon-search-->
                    <button onclick="addTask()" id="queryBtn" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> add Tasks</button>
                </form>
<!--                <button type="button" class="btn btn-danger" onclick="deleteAccounts()" style="float:right;margin-left:10px;"><i class=" glyphicon glyphicon-remove"></i> 删除</button>-->
<!--                <button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='${cx}/account/add'"><i class="glyphicon glyphicon-plus"></i> 新增</button>-->
                <hr style="clear:both;">
                <div class="table-responsive">
                    <div class=" chart_con" >
<!--                        <div class="chart_title">Education profile by Business function</div>-->
                        <div id="main" style="width:100%;height:400px;"></div>
                    </div>
                    <div class=" chart_con" >
<!--                        <div class="chart_title">Separation by region</div>-->
                        <div id="main2" style="width:100%;height:420px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>
<script type="text/javascript">

    function addTask(){
        var api = "/start/jobs";
        var num = $("#num").val();
        if(num==""){
            layer.msg("number is null!", {time: 3000, icon: 5});
            return;
        }
        var jsonData={};
        jsonData.num=num;
        postJson(api, JSON.stringify(jsonData))
        $("#num").val("");
    }

    var ItemId = "Item2_1";
    var myChart = echarts.init(document.getElementById('main'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var option;



    var pageno=0;
    loadCPU(pageno);
    function loadCPU(pageno){
        var jsonData={};
        jsonData["pageno"]=pageno;
        var params = JSON.stringify(jsonData);
        var url = "/load/cpu";
        ajaxPost(url, params, function (data) {
            if (data.errcode == 0) {
                // layer.msg(data.errmsg, {time: 3000, icon: 1});
                var dataTemp = data.data;
                option = {
                    title: {
                        text: 'CPU utilization'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: dataTemp.legendT
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: dataTemp.xAxisT
                        }
                    ],
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}% '
                        }
                    },
                    series: dataTemp.seriesT
                };
                myChart.setOption(option);

                setTimeout(() => {
                    pageno++;
                    loadCPU(pageno) }, 1000);

            } else {
                layer.open({
                    title: 'query fail!'
                    ,content:data.errmsg
                });return;
            }
        });
    }



    // loadCPU2();
    function loadCPU2(){
        var jsonData={};
        jsonData["pageno"]=1;
        jsonData["keyWord"]="all";
        var params = JSON.stringify(jsonData);
        var url = "/load/cpu/test";
        // ajaxPost(url, params, function (data) {
        //     if (data.errcode == 0) {
        //         layer.msg(data.errmsg, {time: 3000, icon: 1});
        //         option=data.data;
        //         myChart2.setOption(data.data);
        //     } else {
        //         layer.open({
        //             title: 'query fail!'
        //             ,content:data.errmsg
        //         });return;
        //     }
        // });
    }


</script>
</html>