<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.complex.mapper.TaskMapper">
    <insert id="insertJobs" parameterType="hashmap">
        insert into datacenter.Job(jobSize,
                                   startTime,
                                   finishTime,
                                   startDate,
                                   finishDate)
                                   values(#{jobSize},
                                          #{startTime},
                                          #{finishTime},
                                          #{startDate},
                                          #{finishDate})
    </insert>
    <insert id="insertCPU">
        insert into datacenter.cpu_date(cid,utilization,cdate)
        values(#{cid},
               #{utilization},
               #{cdate}
              )
    </insert>


    <select id="queryAllCPUTime" resultType="java.lang.String">
        select DISTINCT(cdate)
        from datacenter.utilization
            limit #{pageno},#{rows}
    </select>
    <select id="queryAllCPU" resultType="java.lang.Integer">
        select utilization
        from datacenter.utilization
        <where>
        1=1
            <if test="cid !=null">
                and  cid=#{cid}
            </if>
        </where>
          limit #{pageno},#{rows}
    </select>

</mapper>
